<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Well. Hello there...</h1>
    <p class="lead">Let us sort your students for you.</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">Silly Students: Grades are for kids.{{main.calculateCredits()}}{{main.calculateGPA()}}{{main.combineMajors()}}{{main.combineCompletedCourses()}}{{main.defineRank()}}</h4>
      <h4 class="page-header">
        Sort By:
      </h4>
      <h4>
        <button type="button" ng-click="main.orderThese('lastName')">Last Name</button>
        <button type="button" ng-click="main.orderThese('firstName')">First Name</button>
        <button type="button" ng-click="main.orderThese('dateOfBirth')">Date of Birth</button>
        <button type="button" ng-click="main.orderThese('-credits')">Completed Credits</button> <br> <br>
        <input type="search" ng-model="search.majors" placeholder="filter major" aria-label="filter major" />
        <input type="search" ng-model="search.rank" placeholder="filter rank" aria-label="filter rank" />
        <input type="search" ng-model="search.completedCourses" placeholder="filter by course name" aria-label="filter course name" />
      </h4>

      <ul class="nav nav-tabs nav-stacked animate-repeat" ng-repeat="thing in main.awesomeThings | filter: search | orderBy: main.sortBy">
        <li class="animate-repeat">
          <a data-toggle="collapse" data-target="#{{thing.lastName}}{{thing.firstName}}{{thing.dateOfBirth}}">{{thing.lastName}}, {{thing.firstName}}</a>
        </li>
        <div id="{{thing.lastName}}{{thing.firstName}}{{thing.dateOfBirth}}" class="collapse">
          Class Rank: {{thing.rank}}
          <br>
          GPA: {{thing.gpa}}
          <br>
          Completed Credits: {{thing.credits}}
          <br>
          Date of Birth: {{thing.dateOfBirth}}
          <br>
          Gender: {{thing.gender}}
          <br>
          Email: {{thing.email}}
          <br>
          Phone: {{thing.phone}}
          <br>
          Address: {{thing.address}}
          <br>
          Majors: {{thing.major1}} {{thing.major2}}
          <br>
          <button data-toggle="collapse" data-target="#{{thing.firstName}}">Course History</button>
            <br>
            <br>
          <div id="{{thing.firstName}}" class="collapse">
            <li class="col-md-6" ng-repeat="otherThing in thing.courses">
              Course Name: {{otherThing.course.name}}
              <br>
              Grade: {{otherThing.grade}}
              <br>
              Credits: {{otherThing.course.credits}}
              <br>
              Course Number: {{otherThing.course.courseNumber}}
              <br>
              Subject: {{otherThing.course.subject}}
              <br>
              <br>
            </li>
          </div>

        </div>

      </ul>
    </div>
  </div>
</div>

<!--<div>
          Input major you wish to view:
  <input type="search" ng-model="search.majors" placeholder="filter major..." aria-label="filter major" />
  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="st in main.awesomeThings | filter:search">
       {{st.lastName}}, {{st.firstName}}
    </li>
  </ul>
</div>


</div>


<div>
    Input classes you wish to view:
<input type="search" ng-model="search1.completedCourses" placeholder="filter courses..." aria-label="filter major" />
  <button type="button" ng-click="myFilter = {type: comp}"> Completed Courses </button>
  <button type="button" ng-click="myFilter = {type: inprog}"> Courses In Progress </button>
  <button type="button" ng-click="myFilter = {}"> All Courses </button>
<ul class="example-animate-container">
<li class="animate-repeat" ng-repeat="stu in main.awesomeThings | filter:search1">
 {{stu.lastName}}, {{stu.firstName}}
</li>
</ul>

  </div>

    <div>
      <p>testing stuff</p>
      <input type="search" ng-model="search2.completedCourses" placeholder="filter courses..." aria-label="filter major" />
      <ul class="example-animate-container">
        <li class="animate-repeat" ng-repeat="stu in main.awesomeThings">
          {{stu | completedCourses}}
        </li>
      </ul>

    </div> -->
